Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [ ]:
str = "string"
lst = ["strng1","string2","string3"]
f = 10.20
t = ("1","2","3","one","two","three")

In [ ]:
print("Type of \n str :",type(str),"\n lst :", type(lst), "\n f : ",type(f),"\n t :",type(t))

Type of
 str : <class 'str'>
 lst : <class 'list'>
 f :  <class 'float'>
 t : <class 'tuple'>

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable

In [ ]:
var1 = ' '; print(type(var1))

var2 = '[ DS , ML , Python]';print(type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ] ; print(type(var3))

var4 = 1. ; print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	*

In [ ]:
a = 3 
b = 8

In [ ]:
c = b/a; print("a/b :",c, "division operation")
c = b%a ; print("a%b :",c,"perform modulus operation")
c = b//a; print("a//b :",c,"perform floor division, rounds result down to nearest whole number")
c = a*b ; print("a*b :",c, "perform multiplication")

a/b : 2.6666666666666665 division operation
a%b : 2 perform modulus operation
a//b : 2 perform floor division, rounds result down to nearest whole number
a*b : 24 perform multiplication

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [ ]:
l = ["name","email","address",1,2,3,"city","state",True,3j]
print("length of list :",len(l))
n = 0
for i in l:
  print(" list",n," : ",i,"\t",type(i)); n+=1

length of list : 10
 list 0  :  name 	 <class 'str'>
 list 1  :  email 	 <class 'str'>
 list 2  :  address 	 <class 'str'>
 list 3  :  1 	 <class 'int'>
 list 4  :  2 	 <class 'int'>
 list 5  :  3 	 <class 'int'>
 list 6  :  city 	 <class 'str'>
 list 7  :  state 	 <class 'str'>
 list 8  :  True 	 <class 'bool'>
 list 9  :  3j 	 <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [24]:
A = 101
B = 3
result = A//B
n = 0
print("Initial : ","A :",A,"B :",B)
while(result > 0):
  print("div iter ",n,"A :",A,"\tB :",B, "\t Remainder :",result)
  if (result == A):
    break
  A = result; result = A//B
  n +=1

Initial :  A : 101 B : 3
div iter  0 A : 101 	B : 3 	 Remainder : 33
div iter  1 A : 33 	B : 3 	 Remainder : 11
div iter  2 A : 11 	B : 3 	 Remainder : 3
div iter  3 A : 3 	B : 3 	 Remainder : 1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [33]:
l = [20,23,25,28,31,34,37,40,42,45,48,51,52,55,58,61,64,67,70,72,76,79,82,85,88]
for n in range(len(l)):
  if (l[n]%3 == 0):
    print(l[n]," is divisible by 3")
  else:
    print(l[n]," is not divisble by 3")

20  is not divisble by 3
23  is not divisble by 3
25  is not divisble by 3
28  is not divisble by 3
31  is not divisble by 3
34  is not divisble by 3
37  is not divisble by 3
40  is not divisble by 3
42  is divisible by 3
45  is divisible by 3
48  is divisible by 3
51  is divisible by 3
52  is not divisble by 3
55  is not divisble by 3
58  is not divisble by 3
61  is not divisble by 3
64  is not divisble by 3
67  is not divisble by 3
70  is not divisble by 3
72  is divisible by 3
76  is not divisble by 3
79  is not divisble by 3
82  is not divisble by 3
85  is not divisble by 3
88  is not divisble by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this propert

Mutable object allows you to modify its internal state after creation,An object that allows you to change its values without changing its identity is a mutable object. The changes that you can perform on a mutable object's value are known as mutations.Mutable Objects are of type list, dict, or set.

Immutable object allows change the object's state after its created.an object that doesn't allow changes in its value is an immutable object. You have no way to perform mutations on this kind of object. Numeric types, such  int, float, bool, string, Unicode, and tuple

In [1]:
# tuples are immutable
   
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: ignored

In [2]:
# strings are immutable
 
message = "Welcome to GeeksforGeeks"
message[0] = 'p'
print(message)

TypeError: ignored

In [15]:
# lists are mutable
colored = ["red", "blue", "green"]
print(colored)
 
colored[0] = "pink"
colored[-1] = "orange"
print(colored)

['red', 'blue', 'green']
['pink', 'blue', 'orange']

In [14]:
# set are mutable
colors = {"red", "blue", "green"}
print(type(colors),colors)
 
colors.add("pink")
colors.add("orange")
print(colors)

<class 'set'> {'red', 'green', 'blue'}
{'red', 'green', 'orange', 'pink', 'blue'}

In [7]:
# Dict are mutable
color = {"red":0, "blue":1, "green":4}
print(type(color),color)
 
color["pink"] = 3
color["red"] = 5
print("Updated Dict :",type(color),color)

<class 'dict'> {'red': 0, 'blue': 1, 'green': 4}
Updated Dict : <class 'dict'> {'red': 5, 'blue': 1, 'green': 4, 'pink': 3}